.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1194fd;
    border-bottom: 0px;
}

#badge1 {
    background-color: #f8f9fa;
    color: black;
}

#subt1 {
    color: #1194fd;
}

#content1 {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 0px 0px;
}

#lable1 {
    display: block;
    text-align: right;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#gstar {
    color: #ffa500;
}

#bstar {
    color: #cccccc;
}

#wishlist {
    text-decoration: none;
}

#hstar {
    color: #ffa500;
    overflow: hidden;
}

#nut {
    display: flex;
    justify-content: center;
}
.form-control, .btn {
    border-radius: 20px;
}

.badge{
    align-items: center;
    display: flex;
    justify-content: center;
}